@use "../utils/_mixins";
@use "../utils/variables";



.blog{
    @include mixins.wrapper;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
}

.blog__list {
    list-style: none;
    max-height: 1000px;
    overflow: auto;
    
    
}

.blog__list::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

.blog__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: variables.$dark--text;
}

.blog__list::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f9f9fd;
}

.blog__item-card {
    margin-top: 10px;
    &:first-child {
        margin-top: 0px;
    }

    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat; /* убираем повторение градиента, необходимо для работы background-size */
    background-position: 50% 100%;
    background-size: 100% 1px;
}

.blog__heading{
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    
    color: variables.$dark--text;

    text-align: center;
}

// .blog__list{
//     display: flex;
//     flex-direction: column;
//     margin-top: 24px;
//     margin-left: 102px;

//     list-style: none;
// }

// .blog__item-card{
//     margin-left: 24px;
//     &:first-child{
//         margin-left: 0px;
//     }
// }

// .blog__scroll-wrapper{
//     height: 646px;
//     width: 1440px;
//     position: absolute;

// }

// .blog__scroll{
//     background-color: white;

//     max-width: 48px;
//     max-height: 48px;

//     width: 100%;
//     height: 100%;
    
//     border:1px solid;
//     border-color: variables.$gray;

//     position: absolute;
//     right: 48px;
//     top: 281px;

//     box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
// }


// .blog__next-page{
//     padding-top: 13px;
//     padding-right: 11px;
//     padding-bottom: 11px;
//     padding-left: 23px;
//     cursor: pointer;
// }