@use "../utils/_mixins";
@use "../utils/variables";

.contacts {
    margin-top: 50px;
}

.contacts__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.contacts__item-card {
    margin-left: 20px;
    &:first-child {
        margin-left: 0px;
    }
    height: 100%;
    width: 100%;

    box-shadow: 0 0 5px;
    transition: all 0.5s;
    &:hover {
        transform: scale(0.9);
    }
}
// .our-favorites {
//     @include mixins.wrapper;
//     display: flex;
//     flex-direction: column;
//     margin-top: 119px;
// }

// .our-favorites__heading {
//     font-weight: normal;
//     font-size: 32px;
//     text-align: center;
//     letter-spacing: 0.5px;
//     line-height: 1.32;
//     padding-left: 3px;
//     padding-right: 8px;
// }

// .our-favorites__selection-buttons{
//     display: flex;
//     list-style: none;
//     justify-content: center;
//     max-width: 1236px;
//     margin-top: 32px;
//     margin-left: 102px;

//     border-bottom: 2px solid;
//     border-color: variables.$gray;
    
// }
// .selection-buttons__item{
//     margin-left: 86px;

//     &:first-child{
//         margin-left: 0;
//     }
// }

// .selection-buttons__button{
//     background: none;
//     border: none;
//     width: 123px;
//     font-weight: normal;
//     text-transform: uppercase;
//     font-size: 16px;
//     letter-spacing: 2px;
//     line-height: 1.5;
//     cursor: pointer;    

//     &--selected{
//         padding-bottom: 10px;
//         border-bottom: 2px solid;
//         border-color: variables.$black;
//     }    
// }

// .our-favorites__list{
//     display: flex;
//     list-style: none;
//     justify-content: center;
//     margin-top: 34px;
// }

// .our-favorites__item-card{
//     margin-left: 24px;

//     &:first-child{
//         margin-left: 0;
//     }
// }


