@use "../utils/_mixins";
@use "../utils/variables";

.copyrigth {
    margin-top: 20px;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: center;
}

.copyrigth__text {
    color: variables.$white;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.copyrigth__link {
    text-decoration: none;
    color: variables.$white;
}