@use "../utils/_mixins";
@use "../utils/variables";

.faq {
    
    margin-top: 50px;
}

.faq__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.faq__item-card {
    

    box-shadow: 0 0 5px;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.1);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 40px;
        margin-left: 40px;

    }
}