@use "../utils/_mixins";
@use "../utils/variables";

.feedback__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.5px;
    color: variables.$white;
}

.feedback__form{
    margin-top: 9px;
}

.feedback__input{
    max-width: 302px;
    min-height: 48px;
    width: 100%;
    height: 100%;
    
    background-color: variables.$dark--gray;
    border:none;
    border-bottom: 2px solid;
    border-color: variables.$white;
}

.feedback__sumbit{
    max-width: 130px;
    min-height: 48px;
    width: 100%;
    height: 100%;
    margin-left: 9px;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2px;
    text-align: center;

    color: variables.$white;
    background-color: variables.$dark--gray;
    border:none;
}