@use "../utils/_mixins";
@use "../utils/variables";

.fieldset__heading{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: variables.$white;
    border: none;
    border-radius: 2px;
    background-color: variables.$dark--text;
    width: 200px;
}

.fieldset__label{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 2px;
}

.fieldset__input{
    display: block;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    
    min-height: 30px;

    min-width: 350px;

    padding-left: 5px;


    border:1px solid;
    border-color: variables.$gray;
    
    border-bottom: 3px solid;
    border-color: variables.$dark--gray;

    
}

.fieldset__element{
    display: flex;
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}