@use "../utils/_mixins";
@use "../utils/variables";

.follow-and-certified {
    display: flex;
    margin-top: 85px;
    margin-left: 54px;
    margin-right: 54px;
}

.follow-and-certified__wrapper {
    margin-right: auto;
}

.follow-and-certified__heading {
    text-transform: uppercase;
    color: variables.$white;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1.5px;
}

.follow-and-certified__description {
    max-width: 293px;
    width: 100%;

    margin-top: 23px;

    white-space: pre-line;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: variables.$white;
}


.follow-and-certified__flag{
    margin-left: auto;
    margin-right: 141px;
}

.follow-and-certified__logo{
    margin-left: 40px;
}