@use "../utils/_mixins";
@use "../utils/variables";

footer{
    background-color: variables.$gray;
}

.footer{
    position: relative;
    background-color: variables.$gray;
    top: 90%;
}

.footer .footer-section {
    padding: 15px;
}

.footer .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.footer .about .socials a {
    color: variables.$dark--text;
    border: 1px solid variables.$dark--text;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        color: variables.$white;
        border: 1px solid variables.$white;
    }
}

.footer ul {
    list-style: none;
}

.footer .links ul li a {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    transition: all .3s;
    color: variables.$dark--text;
    text-decoration: none;
    &:hover {
        margin-left: 30px;
        transform: scale(1.1);
        transition: all .3s;
    }
}

.footer .contact-form .contact-input {
    background: variables.$dark--gray;
    color: variables.$gray;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: variables.$dark--text;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 30px;
}

.footer .footer-bottom {
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}