@use "../utils/variables";

.functions {
    display: flex;
    list-style: none;
    align-items: center;
}

.functions__item {
    margin-left: 12px;
    width: 29px;
}

.functions__link {
    display: block;
    color: variables.$dark--text;
    text-decoration: none;

    &--store {
        position: relative;
    }
}

.functions__counter {
    position: absolute;
    top: 7px;
    left: 17px;    
    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
}