@use "../utils/variables";

.genders {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: auto;
}

.genders__item {
    margin-left: 35px;

    &:first-child {
        margin-left: 0;
    }
}

.genders__link{
    text-decoration: none;
    
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 1.7px;

    color: variables.$dark--text;
}