@use "../utils/_mixins";
@use "../utils/variables";

header {
    background-color: variables.$gray;
    min-height: 52px;
}

header ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: variables.$dark--text;
    padding: 14px;
}

header ul li a:hover {
    color: variables.$white;
    transition: 0.5s;
    background: variables.$dark--gray;
}

header ul li ul {
    position: absolute;
    top:52px;
    right: 0px;
    width: 193px;
    z-index: 88888;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: variables.$white;
    color: variables.$dark--text;
}