@use "../utils/_mixins";
@use "../utils/variables";

.main-content h2 {
    margin: 20px 0;
}

.main-content .post {
    margin-bottom: 2em;
    border-radius: 10px;
    border: 2px solid variables.$dark--text;
}

.main-content .post_text {
    padding: 5px;
}

.main-content .post_text a {
    text-decoration: none;
    color: variables.$dark--text;
    &:hover {
        border-bottom: 2px solid variables.$dark--text;
    }
}