@use "../utils/variables";

.navigation {
    display: flex;
    align-items: center;
    margin-left: auto;

    &--footer {
        align-items: flex-start;
    }
}

.navigation__list{
    display: flex;
    list-style: none;
}

.navigation__item {
    margin-left: 30px;
}

.navigation__link{
    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 1.7px;

    color: variables.$dark--text;
}