@use "../utils/_mixins";
@use "../utils/variables";

.navigation-additional {
    min-width: 319px;
}

.navigation-additional__heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: variables.$white;
}

.navigation-additional__list {
    list-style: none;
    max-width: 100%;
    max-height: 100%;
}

.navigation-additional__item {
    margin-top: 10px;

    &:first-child{
        margin-top: 16px;
    }
}

.navigation-additional__link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.5px;

    color: variables.$white;
}
