@use "../utils/_mixins";
@use "../utils/variables";

.button {
    padding: 5px;
    display: inline-block;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: variables.$dark--gray;
    border: 1px solid variables.$dark--gray;
    font-size: 1em;
    border-radius: 0.25rem;
    margin-bottom: 50px;
    margin-top: 30px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        color: variables.$white;
        background-color: variables.$dark--text;
        
    }
}

.rego_form .error_msg {
    color: red;
    font-weight: bold;
}

.reg_form h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.link-reg {
    margin-left:19px;
    padding: 5px;
    display: inline-block;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: variables.$dark--gray;
    border: 1px solid variables.$dark--gray;
    font-size: 1em;
    border-radius: 0.25rem;
    margin-bottom: 50px;
    margin-top: 30px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        color: variables.$white;
        background-color: variables.$dark--text;
        
    }
}

@media (max-width: 1400px) {
    .link-reg {
        margin-left:0px;
        padding: 5px;
        display: inline-block;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: variables.$dark--gray;
        border: 1px solid variables.$dark--gray;
        font-size: 1em;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:hover {
            color: variables.$white;
            background-color: variables.$dark--text;
            
        }
    }
}