@use "../utils/_mixins";
@use "../utils/variables";

.search__form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.search__input {
    border: 1px solid;
    outline: none;
    border-radius: 3px;
    border-color: variables.$dark--text;
    width: 100%;
    height: 42px;

    padding-left: 15px;
}

.search__button {
    border: none;
    outline: none;
    border-radius: 3px;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: variables.$dark--text;
    cursor: pointer;

    transform: scale(1.2);
}
.search__button:before {
    content: "\f105";
    font-size: 16px;
    color: #F9F0DA;

}