@use "../utils/_mixins";
@use "../utils/variables";

.search {
    margin-top: 75px;
    margin-left: 10px;
}
.topics {
    margin-top: 25px;
    margin-left: 10px;
}

.topics ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top:1px solid variables.$dark--text;
}

.slidebar .topics ul li a{
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid variables.$dark--gray;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: variables.$black;
    font-size: 1.2em;
}

.slidebar .topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
}