@use "../utils/_mixins";
@use "../utils/variables";

.welcome-pirania__wrapper {
    min-height: 740px;
    position: relative;

}

.welcome-piraniaimage {
    max-height: 740px;
    min-width: 1272px;
    object-fit: fill;
}

.welcome-pirania__wrapper-text {
    position: absolute;
    top: 35%;
    left: 15%;
}

.welcome-pirania__heading {
    font-size: 47px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: variables.$white;
    background: linear-gradient(45deg, variables.$white 20%, variables.$gray 40%, variables.$dark--text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
}

.welcome-pirania__slogan {
    color: variables.$white;
    font-size: 16px;
    margin-top: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(45deg, variables.$white 29%, variables.$dark--text 60%, );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-pirania__links-wrapper {
    position: absolute;
    bottom: 100px;
    left:530px;
}

.welcome-pirania__link {
    text-decoration: none;
    color: variables.$dark--text;
    letter-spacing: 1px;

    background-color: variables.$white;

    padding-top: 17px;
    padding-right: 32px;
    padding-bottom: 13px;
    padding-left: 32px;

    margin-right: 12px;
    margin-left: 12px;

    border-radius: 2px;
    font-size: 14px;
    width: 180px;
    text-align: center;

    transition: all 0.5s;

    &:hover,
    &:focus {
        background-color: variables.$dark--text;
        color: variables.$white;
    }
}

@media (max-width: 1400px) {
    .welcome-pirania__links-wrapper {
        position: absolute;
        bottom: 100px;
        left: 450px;
    }

    .welcome-pirania__wrapper-text {
        position: absolute;
        top: 35%;
        left: 12%;
    }
}

@media (max-width: 1200px) {
    .welcome-pirania__links-wrapper {
        position: absolute;
        bottom: 100px;
        left: 370px;
    }

    .welcome-pirania__wrapper-text {
        position: absolute;
        top: 35%;
        left: 5%;
    }
}

@media (max-width: 1000px) {
    .welcome-pirania__links-wrapper {
        position: absolute;
        bottom: 100px;
        left: 240px;
    }
}

@media (max-width: 770px) {
    .welcome-pirania__links-wrapper {
        position: absolute;
        bottom: 100px;
        left: 150px;
    }
}

@media (max-width: 565px) {
    .welcome-pirania__links-wrapper {
        $width-min: width;
        position: absolute;
        bottom: 100px;
        left: ($width-min - 10%);
    }
}

@media (max-width: 432px) {
    .welcome-pirania__links-wrapper {
        position: absolute;
        bottom: 100px;
        left: 85px;
    }
}