@use "_mixins";
@use "_variables";

*,
*::before,
*::after{
    @include mixins.reset;
    box-sizing: border-box;

    
}

* {
        font-family: 'Comfortaa', cursive;
}

input {
    padding: 10px 12px;
    display: block;
    width: 95%;
    border-radius: 4px;
    border: 1px solid variables.$gray;
    line-height: 1.5rem;
    color: variables.$dark--text;
}
body{
    height: 19vh;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

