*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Comfortaa", cursive;
}

input {
  padding: 10px 12px;
  display: block;
  width: 95%;
  border-radius: 4px;
  border: 1px solid #D3D4D5;
  line-height: 1.5rem;
  color: #212A2F;
}

body {
  min-height: 19vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo__img {
  width: 50px;
  height: 50px;
}

header {
  background-color: #D3D4D5;
  min-height: 52px;
}

header ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: #212A2F;
  padding: 14px;
}

header ul li a:hover {
  color: #fff;
  transition: 0.5s;
  background: #a8a8a8;
}

header ul li ul {
  position: absolute;
  top: 52px;
  right: 0px;
  width: 193px;
  z-index: 88888;
  display: none;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: #fff;
  color: #212A2F;
}

.welcome-pirania__wrapper {
  min-height: 740px;
  position: relative;
}

.welcome-piraniaimage {
  max-height: 740px;
  min-width: 1272px;
  -o-object-fit: fill;
     object-fit: fill;
}

.welcome-pirania__wrapper-text {
  position: absolute;
  top: 35%;
  left: 15%;
}

.welcome-pirania__heading {
  font-size: 47px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(45deg, #fff 20%, #D3D4D5 40%, #212A2F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.welcome-pirania__slogan {
  color: #fff;
  font-size: 16px;
  margin-top: 19px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(45deg, #fff 29%, #212A2F 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-pirania__links-wrapper {
  position: absolute;
  bottom: 100px;
  left: 530px;
}

.welcome-pirania__link {
  text-decoration: none;
  color: #212A2F;
  letter-spacing: 1px;
  background-color: #fff;
  padding-top: 17px;
  padding-right: 32px;
  padding-bottom: 13px;
  padding-left: 32px;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 2px;
  font-size: 14px;
  width: 180px;
  text-align: center;
  transition: all 0.5s;
}
.welcome-pirania__link:hover, .welcome-pirania__link:focus {
  background-color: #212A2F;
  color: #fff;
}

@media (max-width: 1400px) {
  .welcome-pirania__links-wrapper {
    position: absolute;
    bottom: 100px;
    left: 450px;
  }

  .welcome-pirania__wrapper-text {
    position: absolute;
    top: 35%;
    left: 12%;
  }
}
@media (max-width: 1200px) {
  .welcome-pirania__links-wrapper {
    position: absolute;
    bottom: 100px;
    left: 370px;
  }

  .welcome-pirania__wrapper-text {
    position: absolute;
    top: 35%;
    left: 5%;
  }
}
@media (max-width: 1000px) {
  .welcome-pirania__links-wrapper {
    position: absolute;
    bottom: 100px;
    left: 240px;
  }
}
@media (max-width: 770px) {
  .welcome-pirania__links-wrapper {
    position: absolute;
    bottom: 100px;
    left: 150px;
  }
}
@media (max-width: 565px) {
  .welcome-pirania__links-wrapper {
    position: absolute;
    bottom: 100px;
    left: width-10%;
  }
}
@media (max-width: 432px) {
  .welcome-pirania__links-wrapper {
    position: absolute;
    bottom: 100px;
    left: 85px;
  }
}
.main-content h2 {
  margin: 20px 0;
}

.main-content .post {
  margin-bottom: 2em;
  border-radius: 10px;
  border: 2px solid #212A2F;
}

.main-content .post_text {
  padding: 5px;
}

.main-content .post_text a {
  text-decoration: none;
  color: #212A2F;
}
.main-content .post_text a:hover {
  border-bottom: 2px solid #212A2F;
}

.search {
  margin-top: 75px;
  margin-left: 10px;
}

.topics {
  margin-top: 25px;
  margin-left: 10px;
}

.topics ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #212A2F;
}

.slidebar .topics ul li a {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #a8a8a8;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  font-size: 1.2em;
}

.slidebar .topics ul li a:hover {
  padding-left: 10px;
  transition: all 0.3s;
}

.single_img {
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_post i {
  margin-left: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: #D3D4D5;
}

.footer {
  position: relative;
  background-color: #D3D4D5;
  top: 90%;
}

.footer .footer-section {
  padding: 15px;
}

.footer .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.footer .about .socials a {
  color: #212A2F;
  border: 1px solid #212A2F;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all 0.3s;
}
.footer .about .socials a:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  color: #fff;
  border: 1px solid #fff;
}

.footer ul {
  list-style: none;
}

.footer .links ul li a {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
  transition: all 0.3s;
  color: #212A2F;
  text-decoration: none;
}
.footer .links ul li a:hover {
  margin-left: 30px;
  transform: scale(1.1);
  transition: all 0.3s;
}

.footer .contact-form .contact-input {
  background: #a8a8a8;
  color: #D3D4D5;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 0.9rem 1.4rem;
  border: none;
  width: 100%;
}

.footer .contact-form .contact-input:focus {
  background: #212A2F;
}

.footer .contact-form .contact-btn {
  float: right;
  font-size: 1.1em;
  cursor: pointer;
  margin-bottom: 30px;
}

.footer .footer-bottom {
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.img-thumbnail {
  margin: 10px;
}

.button {
  padding: 5px;
  display: inline-block;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: #a8a8a8;
  border: 1px solid #a8a8a8;
  font-size: 1em;
  border-radius: 0.25rem;
  margin-bottom: 50px;
  margin-top: 30px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button:hover {
  color: #fff;
  background-color: #212A2F;
}

.rego_form .error_msg {
  color: red;
  font-weight: bold;
}

.reg_form h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.link-reg {
  margin-left: 19px;
  padding: 5px;
  display: inline-block;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: #a8a8a8;
  border: 1px solid #a8a8a8;
  font-size: 1em;
  border-radius: 0.25rem;
  margin-bottom: 50px;
  margin-top: 30px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.link-reg:hover {
  color: #fff;
  background-color: #212A2F;
}

@media (max-width: 1400px) {
  .link-reg {
    margin-left: 0px;
    padding: 5px;
    display: inline-block;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    background-color: #a8a8a8;
    border: 1px solid #a8a8a8;
    font-size: 1em;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .link-reg:hover {
    color: #fff;
    background-color: #212A2F;
  }
}/*# sourceMappingURL=style.css.map */