:root {
  --dark--text:  #212A2F;
  --white: #fff;
  --gray: #D3D4D5;
  --black: #000000;
  --dark--gray: #a8a8a8;
  --red: #be1e1e;
  --green: #00ff2a;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Comfortaa", cursive;
}

input {
    padding: 10px 12px;
    display: block;
    width: 95%;
    border-radius: 4px;
    border: 1px solid #D3D4D5;
    line-height: 1.5rem;
    color: #212A2F;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;   
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
}

.logo__img {
    width: 50px;
    height: 50px;
}

header {
    background-color: #D3D4D5;
    min-height: 52px;
}

header ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: #212A2F;
    padding: 14px;
}

header ul li a:hover {
    color: #fff;
    transition: 0.5s;
    background: #a8a8a8;
}

header ul li ul {
    position: absolute;
    top: 52px;
    right: 0px;
    width: 193px;
    z-index: 88888;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: #fff;
    color: #212A2F;
}

.footer {
    position: relative;
    background-color: #D3D4D5;
    top: 90%;
}

.footer .footer-section {
    padding: 15px;
}

.footer .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.footer .about .socials a {
    color: #212A2F;
    border: 1px solid #212A2F;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all 0.3s;
}
.footer .about .socials a:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    color: #fff;
    border: 1px solid #fff;
}

.footer ul {
    list-style: none;
}

.footer .links ul li a {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    transition: all 0.3s;
    color: #212A2F;
    text-decoration: none;
}
.footer .links ul li a:hover {
    margin-left: 30px;
    transform: scale(1.1);
    transition: all 0.3s;
}

.footer .contact-form .contact-input {
    background: #a8a8a8;
    color: #D3D4D5;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: #212A2F;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 30px;
}

.footer .footer-bottom {
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button {
    padding: 5px;
    display: inline-block;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    background-color: #a8a8a8;
    border: 1px solid #a8a8a8;
    font-size: 1em;
    border-radius: 0.25rem;
    margin-bottom: 50px;
    margin-top: 30px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button:hover {
    color: #fff;
    background-color: #212A2F;
}

.sidebar {
  background-color: var(--gray);
  margin: 1rem 0;
  min-height: 510px;
}

.sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: var(--dark--text);
}

.sidebar ul li {
  padding: 18px;
  display: block;
  border-bottom: 1px solid var(--dark--text);
}

.sidebar ul a {
  text-decoration: none;
  color: var(--dark--text);
}

.sidebar ul a:hover, a:focus {
  margin-left: 30px;
  transform: scale(1.1);
  transition: all 0.3s;
}

.posts {
  margin-left: 20px;
  margin-top: 20px;
  padding: 0 20px;
  overflow-y: scroll;
}
::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
  }
  
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 10px;
  background-color: var(--dark--gray);
}
  
::-webkit-scrollbar-thumb:hover{
  background-color: var(--dark--text);
}
  
::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
}
  
::-webkit-scrollbar{
  width: 7px;
}

.buttons {
  margin-bottom: 20px;
}

.posts h2 {
  text-align: center;
  margin: 1.5rem 0;
}

.posts .title-table div {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid var(--dark--text);
  font-weight: 400;
}

.posts .post div {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid var(--dark--text);
  font-weight: 400;
}

.posts .post a {
  text-decoration: none;
  color: var(--black);
}

.posts .post .red a {
  color: var(--green);
}

.posts .post .del a {
  color: var(--red);
}

form div.err p {
  color: red;
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}

.add-post .err {
  padding: 1rem 0;
  color: brown;
}

.add-post .err ul {
  list-style: none;
}